@using Ludo.ViewModels

@{
    var modell = (ModalResult)ViewBag.ModalResult;
}
@* 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    نمایش مودال
</button>
 *@

@if(modell != null)
{
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@modell.Header</h5>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                </div>

                <div class="modal-body">
                    @modell.Message
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">باشه</button>
                    @* <button type="button" class="btn btn-primary">ذخیره تغییرات</button> *@
                </div>

            </div>
        </div>
    </div>
}

