@{
    var errorDisplay = ViewBag.Error != null ? "block" : "none";
    var resultDisplay = ViewBag.Result != null ? "block" : "none";
}

<div id="dangerResult" class="alert alert-danger alert-dismissible" style="display:@errorDisplay;">
    @ViewBag.Error
</div>


<div id="successResult" class="alert alert-success alert-dismissible" style="display:@resultDisplay;">
    @ViewBag.Result
</div>