@model Ludo.ViewModels.MapEditViewModel

@{
    ViewData["Title"] = "نقشه سیستم ها";
}

<h4 class="mb-4">@ViewData["Title"]</h4>

@Html.Partial("_MapSelector", Model)

@section Scripts {
    <script>
        var registerDraggable = true;
    </script>
}