@model Ludo.ViewModels.GameSelection

 <div class="form-floating mb-3" id="levelWrapper">
    @Html.ListBoxFor(model => model.SelectedGamesIds, Model.Games, new { multiple = "multiple", @class = "form-select select2" })
    @Html.LabelFor(model => model.SelectedGamesIds)
</div> 