@model Ludo.ViewModels.ReservationListViewModel
@using Ludo.Models

@{
    ViewData["Title"] = "آرشیو رزرو";
}

<h4 class="mb-4">@ViewData["Title"]</h4>

@Html.Partial("_Reservations", Model)

@section Scripts {
    <script>
        var isInMainPage = false; 

        function confirmDelete(userId) {
            if (confirm('آیا از حذف این رزرو مطمئن هستید؟')) {

                window.location.href = '@Url.Action("delete", "reservations")?id=' + userId;
            }
        }
    </script>
}