@font-face {
    font-family: 'IranianSans';
    src: url('/css/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 14px;
    direction: rtl;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'IranianSans' !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.form-floating > label {
    left: unset;
}

.form-check .form-check-input {
    float: right;
    margin-left: 5px;
    margin-right: unset;
}

.dropdown-menu li {
    float: right;
}

.btn-group-custom {
    margin-bottom: 5px;
}

.ltr {
    text-align: left;
    direction: ltr;
}

.reservationPast td {
    background: #c1c1c1;
    font-style: italic;
    color: #3a3a3a;
    text-decoration: line-through;
}

.reservationPast td:last-child {
    text-decoration: none;
}

.reservationOngoing td {
    background: #0080002b;
}

#clock {
    float: left;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    direction: ltr;
}

.card{
    margin-bottom: 10px;
    margin-top: 10px;
}

.toast-header{
    justify-content: space-between;
}

.resizable {
    color: white;
    border-radius: 0.75em;
    padding: 10px;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    user-select: none;
    width: 160px;
    height: 100px;
    align-content: center;
    text-align: center;
    border: solid 2px #00000063;
    box-shadow: 1px 2px 6px grey;
    position: relative;
}

.resizable-available {
    background-color: #1f8657;
}

.resizable-full {
    background-color: #dc3545;
}

    .resizable-full, .resizable-disabled, .resizable-coming {
        cursor: not-allowed;
    }

    .resizable-disabled {
        background: #706f6f;
    }

.mapArea {
    border: black 1px solid;
    padding: 10px;
    height: 1000px;
    border-radius: 10px;
}


.resize-shadow {
    background: #ffffffd6;
    color: #323232;
    cursor: pointer;
    border-radius: 0.75em;
    padding: 10px;
    width: 160px;
    height: 100px;
    align-content: center;
    text-align: center;
    border: solid 2px #00000063;
    box-shadow: 1px 2px 6px grey;
    position: absolute;
    inset: 0;
    font-weight: bold;
    font-size: 20px;
    display: none;
    top: -2px;
    right: -2px;
}

.resizable-selected {
    box-shadow: #863cc7 1px 2px 6px;
    background: #1200ffe8;
}


.resizable-deselect {
    color: white;
    background: #9f1717d9;
}

.resizable-coming {
    background: #edff00;
    color: black;
}